<div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/services/services2-min.png" alt="" />
  </div>
  <div class="right">
    <div class="block">
      <div class="title">360° Media buying and planning</div>
      <p class="sub">
        Media planning and buying can often be a struggle for businesses.
      </p>
      <p class="sub">
        If you are unsure how to place your adverts in print and audiovisual
        media, even if they are creative and memorable, your chances of success
        are limited.
      </p>
    </div>
  </div>
</div>
