<footer>
  <div class="container">
    <img class="logo" src="../../assets/images/logo-white.svg" alt="logo" />
    <a href="tel:+37410537441" class="phone">+374 10 53 74 41</a>
    <a href="mailto: info@publicis.am" class="email">info@publicis.am</a>
    <p class="adress">
      1 North Avenue, Nord Business Centre <br />
      0001, Yerevan Armenia
    </p>
    <hr />
    <ul class="social-list">
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/company/publicis-armenia/ "
        >
          <img src="../../assets/images/linkedin-white.svg" alt="" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/PublicisArmenia">
          <img src="../../assets/images/facebook-white.svg" alt="" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/publicis.arm/">
          <img src="../../assets/images/instagram-white.svg" alt="" />
        </a>
      </li>
    </ul>
    <p class="copyright">© 2022 Publicis Armenia. All rights reserved</p>
  </div>
</footer>
