.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-1 {
  background-image: url(../../../assets/images/viva/viva-bg1.png);
  height: 44.5vw;
}

.bg-2 {
  background-image: url(../../../assets/images/viva/viva-bg2.png);
  height: 38.2vw;
}

h1 {
  margin-bottom: 20px;
  @media screen and (max-width: 540px) {
    margin-bottom: 10px;
  }
}

h1:before {
  content: "+";
  font-size: 36px;
  font-weight: 700;
  @media screen and (max-width: 1024px) {
    font-size: 25px;
  }
  @media screen and (max-width: 820px) {
    font-size: 22px;
  }
}

.two-images,
.three-images {
  display: flex;
}

.three-images {
  .images-inner {
    flex-basis: 33.33%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.two-images {
  .left-img,
  .right-img {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }
}

.scroller {
  overflow: scroll;
}

.three-images {
  gap: 25px;
  @media screen and (max-width: 540px) {
    display: inline-flex;
    img {
      width: 376px;
      height: 364px;
      max-width: none;
    }
  }
}
