<section class="bg-1 background"></section>
<section class="container">
  <div class="left">
    <h1>UNLIM</h1>
    <p class="subtitle">Creative campaign for Viva-MTS</p>
  </div>
  <div class="right">
    <p class="main-text">
      Viva-MTS has an eminent reputation and public trust in Armenia. Therefore,
      we were delighted to be nominated as the creative agency for this company
      in 2020.
    </p>
  </div>
</section>
<section class="bg-2 background"></section>
<section class="container">
  <div class="left">
    <h2>Challenge</h2>
  </div>
  <div class="right">
    <p class="main-text">
      The company approached us to inform its subscribers about an upcoming
      exclusive tariff that allowed them to use the Internet as much as they
      wanted, without limits.
      <br />
      <br />
      The task was to present this amazing opportunity in a correspondingly
      exceptional way.
    </p>
  </div>
</section>
<section class="two-images">
  <div class="left-img">
    <img src="../../../assets/images/viva/viva-bg3.png" alt="" />
  </div>
  <div class="right-img">
    <img src="../../../assets/images/viva/viva-bg4.png" alt="" />
  </div>
</section>
<section class="container">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      Solution - "Our imagination has no limits": this became the core slogan of
      the campaign. The highlight was the promotional music video, which is
      spiced with contemporary music, and expresses unlimited and unbounded
      imagination in which even time disappears. Through dynamic dance, the
      performers rapidly transform into different eras, highlighting the
      infinite imagination and opportunities of the tariff.
      <br />
      <br />
      We implemented this project together with Armenian celebrities. The song
      was created by Artem Valter and Nare Manukyan and performed by Project 12
      artists.
    </p>
  </div>
</section>
<div class="scroller">
  <section class="three-images">
    <div class="images-inner">
      <img src="../../../assets/images/viva/viva-bg5.png" alt="" />
    </div>
    <div class="images-inner">
      <img src="../../../assets/images/viva/viva-bg6.png" alt="" />
    </div>
    <div class="images-inner">
      <img src="../../../assets/images/viva/viva-bg7.png" alt="" />
    </div>
  </section>
</div>

<section class="video-block">
  <iframe
    src="https://player.vimeo.com/video/686192832?h=bf5201bed2"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
