<section class="background bg-1"></section>
<section class="container different">
  <div class="left">
    <h1>Different and Equal</h1>
    <p class="subtitle">Social awareness-raising campaign</p>
  </div>
  <div class="right">
    <p class="main-text">
      Alongside humanitarian support, World Vision Armenia implements various
      development projects.
      <br />
      <br />
      The "Different and equal" project was announced to combat gender-based
      violence and sex-selective abortion in Armenia. Our client's wish was to
      inform about the project in as an engaging way as possible.
    </p>
  </div>
</section>
<section class="background bg-2"></section>
<section class="background bg-3"></section>
<section class="container">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      Our core idea was to underline the importance of the equal rights of boys
      and girls in society from the very first moment of their lives and during
      education, sports, daily life by stopping sex-selective abortions. Thus,
      through a series of posters, we highlighted the fact that equality should
      be present in all social spheres.
      <br />
      <br />
      For the visual implementation we picked two colors of gender
      representation. To avoid stereotypical blues and pinks, green and purple
      were selected. By combining these two colors and the Equality sign we
      developed the logotype of the campaign.
    </p>
  </div>
</section>
<section class="background bg-4"></section>
<section class="container">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      We applied our logotype to different items symbolizing different
      situations in a child's life. They have become the key visuals of our
      communication posters.
      <br />
      <br />
      The campaign's culmination was dialogue videos that refute gender
      stereotypes in Armenian society. The dialogue between fathers and
      daughters shows that there should be equality between girls and boys in
      cases that seem simple at first glance: games, sports, choice of
      profession, etc.
      <br />
      <br />
      This campaign was extremely highly rated and received the ACT Cannes
      tribute in Human rights.
    </p>
  </div>
</section>
<section class="background bg-5"></section>
<section class="video-block">
  <iframe
    src="https://player.vimeo.com/video/686191159?h=ec18bf607e"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
