<div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/services/services5-min.png" alt="" />
  </div>
  <div class="right">
    <div class="block">
      <div class="title">Event Marketing</div>
      <p class="sub">
        Event marketing is crucial for product awareness and creating authentic
        conversations with customers. Our years of experience in this field help
        us base event marketing design and strategies on your brand's overall
        marketing plan.
      </p>
      <p class="sub">
        This ensures that the 'personality' of the event has an effective impact
        on your audience
      </p>
    </div>
  </div>
</div>
