<div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/services/services3-min.png" alt="" />
  </div>
  <div class="right">
    <div class="block">
      <div class="title">Digital Marketing and Social Media</div>
      <p class="sub">
        Just being present on social media is not enough nowadays. We are
        responsible for your digital transformation process and provide full
        digital marketing services.
      </p>
      <p class="sub">
        Our expert team is skilled in content writing and strategic planning,
        and strives to establish an excellent digital environment for our
        clients.
      </p>
    </div>
  </div>
</div>
