<div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/services/services2-min.png" alt="" />
  </div>
  <div class="right">
    <div class="block">
      <div class="title">Creative Services and Production</div>
      <p class="sub">
        We create content that cuts through. As a diverse group of creative
        experts, we provide anything from concept creation and copywriting to
        full-service design and video production.
      </p>
      <p class="sub">
        We have the skills to fulfil any brief and to make content that
        represents your brand, talks directly to your customers, and gets the
        best results.
      </p>
    </div>
  </div>
</div>
