<section class="background"></section>
<section class="container">
  <div class="left">
    <div class="wrappper">
      <h1>Our Location</h1>
      <p class="text location">
        1 North Avenue, Nord Business Centre <br />
        0001, Yerevan, Armenia
      </p>
      <h2>Our ContActs</h2>
      <a href="tel:+37410537441" class="text phone">+374 10 53 74 41</a> <br />
      <a href="mailto: info@publicis.am" class="text">info@publicis.am</a>
    </div>
    <ul class="social-list">
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/company/publicis-armenia/ "
        >
          <img src="../../assets/images/contact-us/linkedin.svg" alt="" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.facebook.com/PublicisArmenia">
          <img src="../../assets/images/contact-us/facebook.svg" alt="" />
        </a>
      </li>
      <li>
        <a target="_blank" href=" https://www.instagram.com/publicis.arm/">
          <img src="../../assets/images/contact-us/instagram.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
  <div class="right">
    <!-- <img src="../../assets/images/contact-us/map.png" alt="" /> -->

    <iframe
      width="100%"
      height="27.5vw"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=1%20North%20Avenue,%20Nord%20Business%20Centre%20%200001,%20Yerevan,%20Armenia&t=&z=15&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    ></iframe>
  </div>
</section>
