<div class="wrapper">
  <div class="left">
    <img src="../../../assets/images/services/services1-min.png" alt="" />
  </div>
  <div class="right">
    <div class="block">
      <div class="title">Communication Strategies and Awareness Campaigns</div>
      <p class="sub">
        Reputation is a part of everything we do. We help our clients to develop
        conscious, long-term communication strategies and nationwide awareness
        campaigns.
      </p>
      <p class="sub">
        Through our public relations services, we help companies and
        organizations be heard, seen, understood and engage both hearts and
        minds.
      </p>
    </div>
  </div>
</div>
