<div class="works">
  <a [routerLink]="['erebuni']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">EREBUNI-YEREVAN celebration</div>
        <div class="subtitle">Campaign branding and implementation</div>
      </div>
      <img src="../../assets/images/works/works-bg1-min.png" alt="" />
    </div>
  </a>

  <a [routerLink]="['visa']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">Visa - New Year campaign</div>
        <div class="subtitle">
          A large-scale New Year campaign for
          <br />
          everyone with Visa
        </div>
      </div>
      <img src="../../assets/images/works/works-bg2-min.png" alt="" />
    </div>
  </a>
  <a [routerLink]="['selfup']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">sELFUP</div>
        <div class="subtitle">Crafted branding with flames</div>
      </div>
      <img src="../../assets/images/works/works-bg3-min.png" alt="" />
    </div>
  </a>
  <a [routerLink]="['world-vision']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">Different and Equal</div>
        <div class="subtitle">Social awareness-raising campaign</div>
      </div>
      <img src="../../assets/images/works/works-bg4-min.png" alt="" />
    </div>
  </a>
  <a [routerLink]="['viva']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">+UNLIM</div>
        <div class="subtitle">Creative campaign</div>
      </div>
      <img src="../../assets/images/works/works-bg5-min.png" alt="" />
    </div>
  </a>

  <a [routerLink]="['waste']">
    <div class="works__item">
      <div class="works__text">
        <div class="title">WASTE SORTING</div>
        <div class="subtitle">Awareness-raising campaign</div>
      </div>
      <img src="../../assets/images/works/works-bg6-min.png" alt="" />
    </div>
  </a>
</div>
