<section class="background bg-1"></section>
<section class="container">
  <div class="left waste-sorting">
    <h1>WASTE SORTING</h1>
    <p class="subtitle">Awareness-Raising Campaign</p>
  </div>
  <div class="right">
    <p class="main-text">
      In 2020, sorting bins were installed in several districts of Yerevan for
      the first time. Yerevan Municipality announced the start of waste sorting
      in the city. Residents lacked knowledge on how to sort correctly.
      <br />
      <br />
      Some people were skeptical about this issue, and there was also a great
      need to inform and explain the importance of waste sorting to the public.
      Our main challenge was to develop a waste management awareness campaign
      which would highlight this issue.
    </p>
  </div>
</section>
<section class="four-images">
  <div class="four-inner">
    <img src="../../../assets/images/waste/waste-bg2.png" alt="" />
  </div>
  <div class="four-inner">
    <img src="../../../assets/images/waste/waste-bg3.png" alt="" />
  </div>
  <div class="four-inner">
    <img src="../../../assets/images/waste/waste-bg4.png" alt="" />
  </div>
  <div class="four-inner">
    <img src="../../../assets/images/waste/waste-bg5.png" alt="" />
  </div>
</section>
<section class="container">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      To communicate the problem of the waste management to the target audience
      we needed to develop a bold message and eye-catching visual.
      <br />
      <br />
      "It's time to sort the waste": this was the core message we expressed
      through this campaign. It simultaneously signaled the beginning of waste
      sorting in the city and announced its importance globally.
    </p>
  </div>
</section>
<section class="background bg-2"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    The shape of hourglass became the key visual for the campaign. By combining
    the shape with transformation of recycled items we emphasized both the
    urgency and the need for sorting. <br /><br />This campaign served as the
    first and largest campaign about sorting in the city. TV, radio, print and
    digital media channels were used reached more than 80% of the target
    audience.
  </p>
</section>
<section class="background bg-3"></section>
<section class="video-block">
  <iframe
    src="https://player.vimeo.com/video/686196160?h=7f4b37e648"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
