.bg-1 {
    background-image: url(../../../assets/images/selfup/selfup-bg1-min.png);
    height: 37.8vw;
}

.bg-2 {
    background-image: url(../../../assets/images/selfup/selfup-bg2-min.png);
    height: 38.5vw;
}

.bg-3 {
    background-image: url(../../../assets/images/selfup/selfup-bg3-min.png);
    height: 47.5vw;
}

.bg-4 {
    background-image: url(../../../assets/images/selfup/selfup-bg4-min.png);
    height: 32vw;
}

.bg-5 {
    background-image: url(../../../assets/images/selfup/selfup-bg5-min.png);
    height: 51.7vw;
}

.bg-6 {
    background-image: url(../../../assets/images/selfup/selfup-bg6-min.png);
    height: 68.5vw;
}

.bg-7 {
    background-image: url(../../../assets/images/selfup/selfup-bg7-min.png);
    height: 53.2vw;
}

h1 {
    margin-bottom: 20px;
}