<section class="background bg-1"></section>
<section class="container">
  <div class="left">
    <h1>Selfup</h1>
    <p class="subtitle">Crafted branding with flames</p>
  </div>
  <div class="right">
    <p class="main-text">
      Selfup offers a wide variety of cooking classes in the Boston area. These
      classes are led by chefs who excel in their particular areas of expertise.
      <br /><br />
      The company needed memorable branding that would emphasize its uniqueness.
      Our task was to make a visual identity that would convey the cooking
      lessons' atmosphere, taste, and smell.
    </p>
  </div>
</section>
<section class="background bg-2"></section>
<section class="container">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      The idea for this branding may seem simple at first glance, but it stands
      out with its authenticity. The key element in this design is fire/flame,
      which symbolizes cooking and makes one feel the real taste and smell of
      the services offered by Selfup. The main colors used are orange and black.
      They stress the company's specialty and convey its warm and delicious
      atmosphere.
    </p>
  </div>
</section>
<section class="background bg-3"></section>
<section class="background bg-4"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    The implementation of this project was an absolute pleasure for our design
    department. All the elements of the identity are entirely custom-crafted.
    Using color sprays and stencils, brand patterns and a black charcoal
    background were created.
  </p>
</section>
<section class="background bg-5"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    The logotype was also made out of multiple layers of stencil and paints.
    Natural textures were used: coal, metal, wood, paper, and cloth.
  </p>
</section>
<section class="background bg-6"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    As a result, we got the design and packaging that accentuated the
    distinctive essence of this unique company. The final notes were the special
    spices and sauces with which we seasoned the visuals.
  </p>
</section>
<section class="background bg-7"></section>
