<section class="background bg-1"></section>
<section class="container">
  <div class="left">
    <h1>
      EREBUNI-YEREVAN <br />
      CELEBRATION
    </h1>

    <p class="subtitle">Campaign branding and implementation</p>
  </div>
  <div class="right">
    <p class="main-text">
      Yerevan was founded in the 8th century BC and was initially called
      Erebuni. The city comes together every October to celebrate its founding,
      with all sorts of traditional events throughout the city. Every year's
      celebration has its unique theme.
    </p>
  </div>
</section>
<section class="background bg-2"></section>
<section class="container">
  <div class="left">
    <h2>Challenge</h2>
  </div>
  <div class="right">
    <p class="main-text">
      In 2019 we were honored to collaborate with Yerevan Municipality and make
      an engaging campaign for our city's 2801st anniversary. <br /><br />
      Our task was to find a way to engage city residents and emphasize the
      day's significance.
    </p>
  </div>
</section>
<section class="background bg-3"></section>
<section class="container erebuni-6">
  <div class="left">
    <h2>Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      Our ideas intersected with the concept of love, something undefeatable.
      Our main goal was to highlight and manifest love towards our city. As
      result of multiple brainstorms, we came up with the simple, yet sincere,
      headline "My heart Yerevan". <br /><br />
      We formed the letters of the word Yerevan into that most recognizable
      symbol of love - the heart. This became the logotype of the celebration.
      Illustrations of the city's most influential and historical sites were
      developed and became the central part of the bright and warm visuals that
      were hung all over the city.
    </p>
  </div>
</section>
<section class="background bg-4"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    These visuals highlighted the importance of love and care towards the city
    and stressed the value of preserving it. <br /><br />
    In between the old and the new, our city faces various problems and needs
    protection, warmth, and love; this was accentuated through our campaign.
  </p>
</section>
<section class="background bg-5"></section>
<section class="container centered">
  <hr />
  <p class="main-text">
    This campaign had its own unique soundtrack. The song was written by famous
    Armenian composer Tigran Mansuryan. Based on the poetry of Karen Antashyan,
    this song gave an entirely new breath to the city during those festive days.
    <br /><br />
    The video showed the concept of love towards the city. We see well-known
    people living in Yerevan cross through the frame and watch the leading
    performers of the song: the National Orchestra of Armenian and the Armenian
    Children’s Choir.
  </p>
</section>
<section class="background bg-6"></section>
<section class="video-block">
  <iframe
    src="https://player.vimeo.com/video/686189908?h=83a5308551"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
