<div class="swiper">
  <swiper [config]="config">
    <div class="swiper-slide slider-0 header-slide">
      <a [routerLink]="'/services'" class="slide-links"> </a>
    </div>
    <div class="swiper-slide slider-1 header-slide">
      <a [routerLink]="'/portfolio/erebuni'" class="slide-links">
        <div class="block">
          <div class="title">
            EREBUNI-YEREVAN
            <br />
            CELEBRATION
          </div>
          <div class="subtitle">Social awareness-raising campaign</div>
        </div>
      </a>
    </div>
    <div class="swiper-slide slider-2 header-slide">
      <a [routerLink]="'/portfolio/world-vision'" class="slide-links">
        <div class="block">
          <div class="title">Different and Equal</div>
          <div class="subtitle">Social awareness-raising campaign</div>
        </div>
      </a>
    </div>
    <div class="swiper-slide slider-3 header-slide">
      <a [routerLink]="'/portfolio/waste'" class="slide-links">
        <div class="block">
          <div class="title">WASTE SORTING</div>
          <div class="subtitle">Awareness-raising campaign</div>
        </div>
      </a>
    </div>
    <div class="swiper-slide slider-4 header-slide">
      <a [routerLink]="'/portfolio/viva'" class="slide-links">
        <div class="block">
          <div class="title">+UNLIM</div>
          <div class="subtitle">Creative campaign for Viva-MTS</div>
        </div>
      </a>
    </div>
    <div class="swiper-slide slider-5 header-slide">
      <a [routerLink]="'/portfolio/visa'" class="slide-links">
        <div class="block">
          <div class="title">
            VISA - NEW YEAR
            <br />
            CAMPAIGN
          </div>
          <div class="subtitle">
            A large-scale New Year campaign
            <br />
            for everyone with Visa
          </div>
        </div>
      </a>
    </div>
    <div class="swiper-slide slider-6 header-slide">
      <a [routerLink]="'/portfolio/selfup'" class="slide-links">
        <div class="block">
          <div class="title">SELFUP</div>
          <div class="subtitle">Brand Identity</div>
        </div>
      </a>
    </div>
  </swiper>
</div>

<div class="container">
  <h1 class="title">
    To shape progress around us
    <br />
    this is why we get out of bed in the morning
  </h1>

  <a [routerLink]="'/services'" class="learn-more"> LEARN MORE </a>

  <ul class="works__block">
    <li class="item">
      <a [routerLink]="'portfolio/erebuni'">
        <div class="text">
          <h2 class="item-title">EREBUNI-YEREVAN</h2>
          <h2 class="item-title">celebration</h2>
          <h5 class="item-subtitle">Campaign branding and implementation</h5>
        </div>
      </a>
    </li>
    <li class="item">
      <a [routerLink]="'portfolio/selfup'">
        <div class="text">
          <h2 class="item-title">sELFUP</h2>
          <h5 class="item-subtitle">Crafted branding with flames</h5>
        </div>
      </a>
    </li>
    <li class="item">
      <a [routerLink]="'portfolio/visa'">
        <div class="text">
          <h2 class="item-title">Visa - New Year campaign</h2>
          <h5 class="item-subtitle">
            A large-scale New Year campaign for everyone with Visa
          </h5>
        </div>
      </a>
    </li>
    <li class="item">
      <a [routerLink]="'portfolio/waste'">
        <div class="text">
          <h2 class="item-title">WASTE SORTING</h2>
          <h5 class="item-subtitle">Awareness-raising campaign</h5>
        </div>
      </a>
    </li>
    <li class="item">
      <a [routerLink]="'portfolio/world-vision'">
        <div class="text">
          <h2 class="item-title">Different and Equal</h2>
          <h5 class="item-subtitle">Social awareness-raising campaign</h5>
        </div>
      </a>
    </li>
    <li class="item">
      <a [routerLink]="'portfolio/viva'">
        <div class="text">
          <h2 class="item-title">+UNLIM</h2>
          <h5 class="item-subtitle">Creative campaign for Viva-MTS</h5>
        </div>
      </a>
    </li>
  </ul>

  <a [routerLink]="'/portfolio'" class="learn-more learn-more--works">
    LEARN MORE WORKS</a
  >

  <a [routerLink]="'/portfolio'" class="learn-more learn-more--works--mobile">
    LEARN MORE</a
  >
  <h2 class="title title--services">Our Services</h2>
  <h4 class="subtitle">
    Combined forces work best! We all have our own particular set of skills.
    <br />
    When we join our skills, magic happens.
  </h4>
</div>

<div class="swiper">
  <swiper [config]="config_services" class="services-block">
    <div class="swiper-slide swiper-slide-services">
      <li [routerLink]="'/services/strategy'" class="services-block__item item">
        <div class="item__block">
          <h3 class="item__title">
            Communication Strategies and Awareness Campaigns
          </h3>
          <p class="item__paragraph">
            Reputation is a part of everything we do. We help our clients to
            develop conscious, long-term communication strategies and nationwide
            awareness campaigns.
            <br />
            <br />
            Through our public relations services, we help companies and
            organizations be heard, seen, understood and engage both hearts and
            minds.
          </p>
        </div>
        <a class="item__learn">Learn More</a>
      </li>
    </div>
    <div class="swiper-slide swiper-slide-services">
      <li [routerLink]="'/services/creative'" class="services-block__item item">
        <div class="item__block">
          <h3 class="item__title">Creative Services and Production</h3>
          <p class="item__paragraph">
            We create content that cuts through. As a diverse group of creative
            experts, we provide anything from concept creation and copywriting
            to full-service design and video production.
            <br />
            <br />
            We have the skills to fulfil any brief and to make content that
            represents your brand, talks directly to your customers, and gets
            the best results.
          </p>
        </div>
        <a class="item__learn">Learn More</a>
      </li>
    </div>
    <div class="swiper-slide swiper-slide-services">
      <li [routerLink]="'/services/media'" class="services-block__item item">
        <div class="item__block">
          <h3 class="item__title">360° Media buying and planning</h3>
          <p class="item__paragraph">
            Media planning and buying can often be a struggle for businesses.
            <br />
            <br />
            If you are unsure how to place your adverts in print and audiovisual
            media, even if they are creative and memorable, your chances of
            success are limited.
          </p>
        </div>
        <a class="item__learn">Learn More</a>
      </li>
    </div>
    <div class="swiper-slide swiper-slide-services">
      <li [routerLink]="'/services/digital'" class="services-block__item item">
        <div class="item__block">
          <h3 class="item__title">Digital Marketing and Social Media</h3>
          <p class="item__paragraph">
            Just being present on social media is not enough nowadays. We are
            responsible for your digital transformation process and provide full
            digital marketing services.
            <br />
            <br />
            Our expert team is skilled in content writing and strategic
            planning, and strives to establish an excellent digital environment
            for our clients.
          </p>
        </div>
        <a class="item__learn">Learn More</a>
      </li>
    </div>
    <div class="swiper-slide swiper-slide-services">
      <li [routerLink]="'/services/event'" class="services-block__item item">
        <div class="item__block">
          <h3 class="item__title">Event Marketing</h3>
          <p class="item__paragraph">
            Event marketing is crucial for product awareness and creating
            authentic conversations with customers. Our years of experience in
            this field help us base event marketing design and strategies on
            your brand's overall marketing plan.
            <br />
            <br />
            This ensures that the 'personality' of the event has an effective
            impact on your audience.
          </p>
        </div>
        <a class="item__learn">Learn More</a>
      </li>
    </div>
  </swiper>
</div>

<div class="container">
  <h3 class="subtitle--clients">
    We are proud to work with many well-known brands in the retail,
    <br />
    publishing, travel, and nonprofit fields
  </h3>

  <div class="clients__block">
    <img src="../../assets/images/landing/lan-1.png" alt="" />
    <img src="../../assets/images/landing/lan-2.png" alt="" />
    <img src="../../assets/images/landing/lan-3.png" alt="" />
    <img src="../../assets/images/landing/lan-4.png" alt="" />
  </div>
</div>

<div class="background"></div>
