<section class="background bg-1"></section>

<div class="container">
  <div class="left">
    <h1 class="title">
      Visa - New
      <br />
      Year campaign
    </h1>
    <p class="subtitle">
      A large-scale New Year campaign for everyone with Visa
    </p>
  </div>
  <div class="right">
    <p class="main-text">
      "Visa is a network that unites everyone and works for everyone": Staying
      true to this slogan, our client wanted to create a New Year miracle for
      everyone.
      <br /><br />
      The idea was to make Visa's first large-scale draw in Armenia. According
      to the draw, everyone who made a one-time purchase worth 5000 AMD and paid
      with a visa card automatically became a participant in the draw and had a
      chance to win valuable prizes, the largest of which was a Volvo XC40.
      <br /><br />
      Together we carried out an extremely broad, extensive New Year campaign
      about the prize draw across Armenia. Our goal was to make it a large-scale
      event and get a great national response.
    </p>
  </div>
</div>

<section class="background bg-2"></section>

<div class="container">
  <div class="left">
    <h2 class="title">Solution</h2>
  </div>
  <div class="right">
    <p class="main-text">
      Since this campaign was the first that Visa would visually position in
      Armenia, we decided to make it outstanding and eye-catching.
      <br /><br />
      Our copywriters approached the task with a memorable and rhythmic slogan:
      "Visa every day, Visa New Year." In English, the headline may sound
      strange; however, in Armenian, it is a play on words.
      <br /><br />
      "Every day" and "New Year" are almost the exact words with just one
      letter's difference; they rhyme nicely and stand out from the majority of
      advertising around New Year.
      <br /><br />
      Communication visuals were implemented according to the brand's corporate
      style. Multiple and multi-format media platforms were used to communicate
      the campaign all over Yerevan and other cities - from OOH to digital.
    </p>
  </div>
</div>

<section class="background bg-3"></section>

<section class="container centered">
  <hr />
  <p class="main-text">
    The most remarkable outdoor visual was the large glass box placed in the
    center of Yerevan, where the main prize, the Volvo XC40, was showcased.
    Apart from the main prize, other valuable items were also raffled off.
    Within the framework of this campaign, we cooperated with 12 Armenian banks
    simultaneously.
    <br /><br />
    As there was a coupon for each purchase, one's chance to win was high. Thus,
    the number of people participating in the draw was incredibly high. As a
    result, we had an astonishing number of participants: 819,120 transactions
    and participant tickets. On January 20, 2022 we organized an event where 50
    successful Visa cardholders received their prizes. The event was broadcast
    on social media.
  </p>
</section>

<div class="twice">
  <div class="twice-inner">
    <img
      class="mobile-hidden"
      src="../../../assets/images/visa/visa-bg4-min.png"
      alt=""
    />
  </div>
  <div class="twice-inner">
    <img src="../../../assets/images/visa/visa-bg5.png" alt="" />
  </div>
</div>

<section class="background bg-4"></section>
<section class="video-block">
  <iframe
    src="https://player.vimeo.com/video/686193854?h=1c6d996a62"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
